// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

* {
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #fff;
    button {
        margin: 5px;
        border: 0;
        border-radius: 3px;
    }
}

.inputQuery {
    margin-bottom: 0.6rem;
}