<template>
    <button type="button">
        <div v-for="(people, peopleIndex) of data" :id="`user-${people.name}`" :key="`button-${peopleIndex}`">
            <span>{{ people.name }}</span>
        </div>
    </button>
</template>

<script>
export default {
    props: ['data']
}
</script>