<template>
    <div>
        <button @click="changeText">
            <slot name="title"></slot>

            <span v-if="showText">{{ text }}</span>

            <span v-else>{{ idUser }}</span>
            
            <slot name="content"></slot>

            <slot name="footer"></slot>
        </button>
    </div>
</template>

<script>
    export default {
        props: {
            text: {
                type: String,
                default: null,
            },
            idUser: {
                type: Number,
                default: 0
            }
        },
        data() {
            return {
                showText: true,
            }
        },
        methods: {
            changeText() {
                this.showText =  !this.showText
            }
        },
    }
</script>
