<template>
    <div @click="view" class="card">
        <span class="name">{{people.name}}</span>
    </div>
</template>

<script>
    export default {
        props: ['people'],
        data() {
            return {
                count: 0,
            }
        },
        methods: {
            view() {
                this.$emit('infoPeople', this.people.url)
            }
        }
    }
</script>

<style lang="scss">
    .peoplesContainer {
        padding: 10px;
        .card {
            display: flex;
            width: 100%;
            color: #111;
            padding: 5px 10px;
            margin-bottom: 5px;
            cursor: pointer;
            img {
                width: 150px;
            }
        }
    }
</style>
