<template>
    <div class="detailsContainer">
        <p>Name: {{ details.name}} </p>
        <p>Height: {{ details.height}} </p>
    </div>
</template>

<script>
export default {
    props: ['details']
}
</script>

<style lang="scss">
.info-container {
    padding: 10px;
}

.details {
    padding: 10px;
}

.detailsContainer {
    padding: 10px;
    background: #8b1717;
    color: #fff;
    border-radius: 5px;
    p {
        margin-bottom: 5px;
    }
}
</style>