<template>
    <div class="col-12">
        <div class="row">
            <div class="peoplesContainer col-3">
                <span>Lista de personas: </span>

                <div v-if="peoples" class="div">
                    <input v-model="query" @keyup.enter="searchText" class="inputQuery" type="text">

                    <template v-for="(people, peopleIndex) of peoples" :key="peopleIndex">
                        <div @click="getDetailsPeople(people.url)" class="card">
                            <span>People: {{ people.name }}</span>
                        </div>
                    </template>
                </div>
            </div>

            <div v-if="peoples" class="details col-9">
                <template v-if="ajaxDetails">
                    <span>Cargando detalles...</span>
                </template>

                <template v-else>
                    <span v-if="!detailsPeople">Selecciona a una persona...</span>

                    <div v-else class="details-container">
                        <p>Nombre: {{ detailsPeople.name }}</p>
                        <p>Height: {{ detailsPeople.height }}</p>

                        <button-example text="Clandor" :idUser="1">
                            <!-- <template v-slot:title>
                                <div>Titulo</div>
                            </template>
                            
                            <template v-slot:content>
                                <div>Contenido</div>
                            </template> -->
                        </button-example>

                        
                    </div>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import buttonExample from './buttonExample.vue'

export default {
  components: { buttonExample },
    data() {
        return {
            query: '',
            ajaxList: false,
            ajaxDetails: false,
            textClick: null,
            defailtPeople: null
        }
    },
    methods: {
        getUsers() {
            axios.get('https://swapi.dev/api/people/')
            .then((response) => {
                this.peoples = response.data.results[0]
            });
        },
        getDetailsPeople(url) {
            this.ajaxDetails = true,
            this.$store.commit('setDetailPeople', null)

            axios.get(url)
            .then((response) => {
                this.ajaxDetails = false
                this.$store.commit('setDetailPeople', response.data)
            })
        },
        searchText() {
            console.log(this.query)
        }
    },
    computed: {
        peoples() {
            return this.$store.state.peoples
        },
        detailsPeople() {
            return this.$store.state.detailsPeople
        }
    }
}
</script>

<style>
.details-container {
    background: red;
    padding: 10px;
    border-radius: 5px;
}
</style>